body {
    background-image: url('../images/skyscraper.png');
    background-color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
}

.headingAlign {
    margin: 0 auto;
    width: 960px;
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    color: #777777;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #4aaaa5;
}

.contact, .portfolio, .index {
    text-decoration: none;
    color: #777777;
    margin: 10px;
    padding: 20px;
    position: relative;
    float: right;
}

h1 {
    background-color: #ffffff;
    margin: 0px;
}

h2 {
    background-color: #b6b6b6;
    color: #ffffff;
    width: 19%;
    height: 40px;
    position: relative;
    float: left;
    padding: 30px;
    bottom: 20px;
    z-index: 2;
}

.content {
    width: 960px;
    height: 700px;
    margin: auto;
    margin-top: 35px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    text-align: left;
}

#profPic {
    border-right: 25px solid #ffffff;
    border-bottom: 8px solid #ffffff;
}

h3 {
    font-size: 22px;
    color: #4aaaa5;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    text-align: left;
}

h3,
p,
form {
    margin: 20px;
}

label,
input {
    display: block;
    margin-top: 5px;
}

label {
    margin-top: 10px;
}

#name,
#email,
#message {
    width: 100%;
    height: 50%;
}

#message {
    height: 150px;
}

#submitButton {
    text-decoration: none;
    background-color: #4aaaa5;
    color: #eeeeee;
    border-color: #4aaaa5;
}

.portContent {
    width: 960px;
    height: 700px;
    margin: auto;
    margin-top: 35px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    text-align: left;
}

#profpic {
    width: 250px;
}

h4 {
    background-color: #4aaaa5;
    color: #eeeeee;
    padding: 20px;
    width: 180px;
    height: 15px;
    position: absolute;
    z-index: 2;
    text-align: center;
}

footer {
    margin-top: 35px;
    background-color: #eeeeee;
    border-top: 4px solid #4aaaa5;
    color: rgb(143, 143, 143);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 39px;
    padding-top: 45px;
    font-size: 12px;
}

section {
    margin-left: 20px;
}

.work {
    position: relative;
    float: left;
    width: 180px;
    margin: 20px;
    overflow: auto;
}


/*Portfolio Boxes */

.work:nth-child(even) {
    margin-right: 30px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 15px;
    left: -19px;
    width: 94%;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 250;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

@media only screen and (max-width: 640px) {
    header {
        position: fixed;
        top: 0;
    }
    .headingAlign {
        width: unset;
    }
    a {
        font-size: 15px;
    }
    h2 {
        font-size: 18px;
        height: 45px;
    }
    .content,
    .portContent {
        width: 60%;
        height: 70%;
    }
    .portContent {
        height: 1050px;
    }
    #profPic {
        width: 90%;
        height: 85%;
    }
    .work {
        margin: unset;
    }
    .conFooter {
        margin-top: 27%;
    }
}

@media only screen and (max-width: 768px) {
    .headingAlign {
        width: unset;
    }
    .content,
    .portContent {
        width: 80%;
        font-size: 15px;
    }
    #profPic {
        width: 95%;
        height: 50%;
    }
    .work {
        margin: 10px;
    }
}

@media only screen and (max-width: 980px) {
    .headingAlign {
        width: unset;
    }
    .content,
    .portContent {
        width: 70%;
    }
    .work {
        margin: 20px;
    }
}